@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  hieght: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}

#main {
  flex: 1;
}